.box:nth-child(even) {
  background: pink;
}

.box:nth-child(odd) {
  background: rgb(245, 245, 177);
}

.box {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.extra {
  display: none;
}

p {
  display: inline;
}

input[type="checkbox"] {
  height: 2em;
  display: block;
  appearance: none;
}

label {
  position: relative;
  padding: 1em;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

label::before {
  content: "Read More";
}

input[type="checkbox"]:checked~label:before {
  content: "Read Less";
}

.dots:has(~ input[type="checkbox"]:checked) {
  display: none;
}

.extra:has(~ input[type="checkbox"]:checked) {
  display: inline;
}